@import './scss/board.scss' ;

html,
body,
#root {
        height: 100%;
}


body {
        margin: 0;
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
        "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
        sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        background-color: rgb(91, 224, 224) ;
}
@import './scss//view.scss' ;

code {
        font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}


.block0 {
        background-color: orange;
        opacity: 0.8 ;
}

.block1 {
        background-color: purple;
        opacity: 0.8 ;
}





