#puzzle-area {
        position: absolute ;
        left:10px;
        padding: 10px;
        top: 20px;
	width: 400px;
        height: 800px;
        border-radius: 20px;
        background-color: rgba(184, 201, 38, 0.767) ;
        border-color: darkblue 
}

